<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <section class="header">

        <div class="col-md-12">
            <div class="row header--img">
                <img src="./images/banner2.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container justify-content-end">
                <a class="navbar-brand mb-1" href="index.html"
                    style="font-variant: small-caps; font-size: 25px; font-weight: 400; color: beige;">
                    <img src="images/SvqIUpD.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" row collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">TUYỂN SINH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHƯƠNG TRÌNH ĐÀO TẠO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="baithi.html">BÀI THI </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GÓP Ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="hoi-dap.html">HỎI ĐÁP</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                TÀI KHOẢN
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#dang-ky">Đăng ký</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#dang-nhap">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#quen-mk">Quên mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#doi-mk">Đổi mật khẩu</a></li>
                                <li><a class="dropdown-item" href="#">Cập nhật tài khoản</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <!-- nav-bar.end== -->

    <!--  Đăng Nhập-->
    <div class="modal fade" id="dang-nhap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="frmLogin" id="frmLogin">
                        <div class="mt-2 row offset-3">

                            <div class="col-8">
                                <label class="text-nowrap">Tài Khoản<span class="text-danger">*</span></label>
                                <input class="form-control" ng-model="username" id="username" type="text"
                                    name="full-name" id="username" placeholder="User Name">
                                <small ng-show="frmLogin.username.$invalid" id="username"
                                    class="form-text text-danger">Vui lòng nhập tài khoản</small>

                            </div>
                        </div>

                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Mật Khẩu <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" name="password" ng-model="password" type="password"
                                    id="password" placeholder="Password">
                                <small ng-show="frmLogin.password.$invalid" id="password"
                                    class="form-text text-danger">Vui lòng nhập mật khẩu</small>
                            </div>
                        </div>
                        <div class="mt-4 offset-4">
                            <button class="btn btn-primary offset-1" ng-click='login()'
                                ng-disabled="frmLogin.$invalid">Đăng Nhập</button>
                        </div>

                        <div class="mt-4">
                            <span class="text-danger offset-2">(*)Vui lòng đăng nhập để sử dụng hệ thống.</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row col-12 text-nowrap">
                        <a href="#" class="col-5 offset-4" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#quen-mk">&nbsp;&nbsp; Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--  Đăng ký-->
    <div class="modal fade" id="dang-ky" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Ký</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="" action="" method="">
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Họ tên<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder="User Name">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Tài Khoản<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder=" Name">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Email<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder="">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Mật Khẩu <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="password" name="full-name" id=""
                                    placeholder="mật khẩu">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Nhập Lại Mật Khẩu<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder="">
                            </div>
                        </div>
                        <div class="mt-4 offset-4">
                            <button class="btn btn-primary offset-1">Đăng Ký</button>
                        </div>

                        <div class="mt-4">
                            <span class="text-danger offset-3">(*)Vui lòng nhập đầy đủ thông tin.</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row col-12">
                        <a href="#" class="col-4 offset-1" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#dang-nhap">Đăng nhập</a>
                        <a href="#" class="col-4 offset-3" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#quen-mk">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--  đổi mật khẩu-->
    <div class="modal fade" id="doi-mk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="" action="" method="">
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Tài Khoản<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder="User Name">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Mật Khẩu <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="password" name="full-name" id=""
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Nhập Mật Khẩu Mới <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="password" name="full-name" id=""
                                    placeholder=" New password">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Nhập Lại Mật Khẩu<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id=""
                                    placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="mt-4 offset-4">
                            <button class="btn btn-primary offset-1">Đổi Mật Khẩu</button>
                        </div>

                        <div class="mt-4">
                            <span class="text-danger offset-3">(*)Vui lòng nhập đầy đủ thông tin.</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row col-12">
                        <a href="#" class="col-4 offset-1" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#dang-nhap">Đăng nhập</a>
                        <a href="#" class="col-4 offset-3" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#quen-mk">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Quên mật khẩu-->
    <div class="modal fade" id="quen-mk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quên mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="" action="" method="">
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Tài Khoản<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id="" placeholder="User Name">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Email đăng ký<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="password" name="full-name" id="" placeholder="Email">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3 mt-3">
                            <label class="text-nowrap">Nhập Mật Khẩu Mới <span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="password" name="full-name" id=""
                                    placeholder=" New password">
                            </div>
                        </div>
                        <div class="mt-2 row offset-3">
                            <label class="text-nowrap">Nhập Lại Mật Khẩu<span class="text-danger">*</span></label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="full-name" id=""
                                    placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="mt-4 offset-4">
                            <button class="btn btn-primary offset-1">Đổi Mật Khẩu</button>
                        </div>

                        <div class="mt-4">
                            <span class="text-danger offset-3">(*)Vui lòng nhập đầy đủ thông tin.</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row col-12">
                        <a href="#" class="col-4 offset-1" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#dang-nhap">Đăng nhập</a>
                        <a href="#" class="col-4 offset-3" style="text-decoration: none;" data-bs-toggle="modal"
                            data-bs-target="#dang-ky">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- ==end-nav -->
    <section class="monhoc">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="container">
                    <div class="row mt-4">

                        <div class="col-12 col-md-4 mt-2 ">
                            <div class="card" style="height: 330px;">

                                <div class="card-body">

                                    <span class="card-text" style=" text-decoration: none;color: #19191b;"><b>NGÀNH
                                            ĐÀO
                                            TẠO</b>
                                        <hr>
                                        Với triết lý đào tạo “Thực học – Thực nghiệp” Cao đẳng FPT Polytechnic hướng
                                        tới đào
                                        tạo nguồn nhân lực chất lượng cao với phương pháp giảng dạy qua dự án thật.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- ==item 1 .end== -->

                        <!--Item 2-->
                        <div class="col-12 col-md-4 mt-2">
                            <div class="card bg-secondary border-0" style="height: 330px; ">
                                <img src="images/OIP.jpg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <span class="card-text"
                                        style="font-weight: 700; text-decoration: none;color: #0c0823;">Công nghệ thông
                                        tin
                                    </span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0b0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-website"><span>Thiết kế
                                            webstie</span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/cntt-ung-dung-phan-mem"><span>CNTT-Ứng
                                            dụng phần mềm</span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/lap-trinh-may-tinh-thiet-bi-di-dong"><span>Lập
                                            trình máy tính-Thiết bị di động</span></a>

                                </div>
                            </div>
                        </div>
                        <!-- Item 3-->
                        <div class="col-12 col-md-4 mt-2">
                            <div class="card bg-success border-0" style="height: 330px;">
                                <img height="191px" src="images/R.jpg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <span class="card-text"
                                        style="font-weight: 700; text-decoration: none;color: #0c0823;">Thiết kế đồ họa
                                    </span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0b0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-do-hoa"><span>Photoshop</span></a>
                                    <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-do-hoa"><span>After
                                            Effects</span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-do-hoa"><span>Illustrator</span></a>
                                    <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-do-hoa"><span>Indesign</span></a>

                                </div>
                            </div>
                        </div>
                        <!--Item 4-->
                        <div class="col-12 col-md-4 mt-2">
                            <div class="card bg-danger border-0" style="height: 330px;">
                                <img height="191px" src="images/qtkd.jpg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <span class="card-text"
                                        style="font-weight: 700; text-decoration: none;color: #0c0823;">Quản trị kinh
                                        doanh</span></a> <br>
                                    <a class="card-text" style="font-weight: 300; text-decoration: none;color: #0b0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/thiet-ke-website"><span><b>QTDN-Marketing
                                                and sales</b></span></a> <br>
                                    <a class="card-text" style="font-weight: 300; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/cntt-ung-dung-phan-mem"><span><b>QHCC-PR
                                                & tổ chức sự kiện</b></span></a> <br>
                                    <a class="card-text" style="font-weight: 300; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/lap-trinh-may-tinh-thiet-bi-di-dong"><span><b>TMDT-Digital&Online
                                                Marketting</b></span></a> <br>
                                </div>
                            </div>
                        </div>
                        <!--Item 5-->

                        <div class="col-12 col-md-4 mt-2 ">
                            <div class="card bg-primary border-0" style="height: 330px;">
                                <img height="191px" src="images/fpt-polytechnic-ky-su-co-khi.jpeg" class="card-img-top"
                                    alt="">
                                <div class="card-body">
                                    <span class="card-text"
                                        style="font-weight: 700; text-decoration: none;color: #0c0823;">Công nghệ kỹ
                                        thuật
                                        cơ khí </span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0b0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/cong-nghe-ky-thuat-co-khi"><span>Công
                                            nghệ kỹ thuật cơ khí</span></a> <br>

                                </div>
                            </div>
                        </div>
                        <!--Item 6-->
                        <div class="col-12 col-md-4 mt-2">
                            <div class="card bg-warning border-0" style="height: 330px;">
                                <img height="191px" src="images/tdh.png" class="card-img-top" alt="">
                                <div class="card-body">
                                    <span class="card-text"
                                        style="font-weight: 700; text-decoration: none;color: #0c0823;">Công nghệ kĩ
                                        thuật
                                        điện, điện tử </span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0b0918;"
                                        href="https://caodang.fpt.edu.vn/cong-nghe-ky-thuat-dieu-khien-tu-dong-hoa"><span>CN
                                            kỹ thuật điều khiển và tự động hóa</span></a> <br>
                                    <a class="card-text" style="font-weight: 400; text-decoration: none;color: #0c0918;"
                                        href="https://caodang.fpt.edu.vn/nganh-hoc/cong-nghe-ky-thuat-dien-dien-tu"><span>CN
                                            kỹ thuật, điện tử</span></a> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" col-md-4 col-12 mt-4  menu">
                <div class=" container ">
                    <div class="card mt-2 mb-4">
                        <div class="card-header">

                            <span style="font-size: 20px; font-weight: 500; font-variant: small-caps;">
                                <a href="#" class="text-black  " style="font-weight: bold; text-decoration: none;"
                                    data-bs-toggle="collapse" data-bs-target="#danhmuc">
                                    <i class="bi bi-grid-1x2-fill"></i> DANH MỤC</a>
                            </span>
                        </div>
                        <ul class="list-group list-group-flush collapse" id="danhmuc">
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Đăng ký trực
                                        tuyến</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Doanh nghiệp tuyển
                                        dụng</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Kỳ thi THPT</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Học phí</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Hướng dẫn nhập
                                        học</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Tiếng Anh</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Việc làm & Thực
                                        tập</span></a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" style="text-decoration: none;color: black;"><span>Tra cứu văn
                                        bằng</span></a>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer class="row col-12 mt-2">
        <div class="card bg-secondary">
            <div class="card-body text-center  text-white" style="font-size: 15px; ">
                FPT Polytechnic &copy; 2022. All rights reserved.
                <div>DO VAN DUONG</div>
            </div>
        </div>
    </footer>
</body>

</html>